/*-----------------*/
/* Global Settings */
/*-----------------*/

:root {
    --blue: #1992d4;
    --white: #ffffff;
    --gray: #e2e8f0;
    --orange: #f0b429;
    --text-gray: #636363;
}

ul {
    list-style-type: none;
    padding: 0;
}

body {
    font-family: Roboto, system-ui;
    display: grid;
    grid-template-columns: 15rem auto;
    grid-template-rows: 1fr 4fr;
    width: 100vw;
    height: 100vh;
}

/*----------------*/
/* Sidebar Styles */
/*----------------*/

.sidebar {
    grid-column: 1/2;
    grid-row: 1/3;
    background-color: var(--blue);
    color: var(--white);
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 9fr;
    gap: 2rem;
    font-size: 1.5rem;
    padding: 0.5rem;
}

.sidebar a {
    color: inherit;
    text-decoration: inherit;
}

.logo {
    display: flex;
    align-items: center;
}

.icon-logo {
    width: 50px;
}

.logo h1 {
    font-size: 2rem;
    font-weight: bold;
}

.sidebar > nav {
    display: grid;
    grid-template-rows: 16rem auto;
    gap: 1rem;
}

.sidebar li > a {
    display: grid;
    grid-template-columns: 2.5rem auto;
    align-items: center;
}

.icon-nav {
    max-width: 30px;
    justify-self: center;
}

/*---------------*/
/* Header Styles */
/*---------------*/

header {
    background-color: var(--white);
    grid-column: 2/3;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 2fr 3fr;
    padding: 1rem 2rem;
    gap: 1rem;
    box-shadow: 0px 5px 5px #bbb;
}

.search-bar {
    display: grid;
    grid-template-columns: 2rem auto;
    align-items: center;
}

.icon-head {
    height: 20px;
}

.input-search {
    height: 1.6rem;
    background-color: var(--gray);
    border-style: none;
    border-radius: 1rem;
    padding: 0 0.5rem;
}

.profile {
    display: grid;
    grid-template-columns: 20px 40px auto;
    gap: 2rem;
    padding-right: 3vw;
    justify-content: end;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
}

.icon-bell {
    height: 20px;
}

.prof-avatar {
    height: 40px;
    border-radius: 50%;
}

.head-greeting {
    display: grid;
    grid-template-columns: 5rem auto;
    font-weight: bold;
    align-items: center;
}

.greet-avatar {
    border-radius: 50%;
    height: 90%;
}

.actions {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.actions button {
    height: 2rem;
    width: 6rem;
    background-color: var(--blue);
    color: var(--white);
    border-style: none;
    border-radius: 1rem;
}

/*---------------------*/
/* Content Area Styles */
/*---------------------*/

main {
    background-color: var(--gray);
    grid-column: 2/3;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: auto min(25%, 270px);
    gap: 24px;
    padding: 24px;
    z-index: -1;
}

main h1 {
    font-size: 1.2rem;
}

main h2 {
    font-size: 1rem;
}

main > section {
    display: grid;
    grid-template-rows: 2.2rem auto;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 24px;
    align-content: start;
}
.gallery article {
    background-color: var(--white);
    height: 250px;
    border-left: 8px solid var(--orange);
    border-radius: 8px;
    display: grid;
    grid-template-rows: 1.5rem auto 1.5rem;
    padding: 32px 16px;
    box-shadow: 3px 5px 5px #bbb;
}

.gallery article p {
    color: var(--text-gray);
    font-size: 0.9rem;
}

.proj-icons {
    display: flex;
    justify-content: end;
    gap: 1rem;
}

main > aside {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 24px;
}

.side-block {
    display: grid;
    grid-template-rows: 2.2rem auto;
}

.side-block .block {
    background-color: var(--white);
    padding: 16px;
    border-radius: 8px;
    box-shadow: 3px 5px 5px #bbb;
}

.side-block .block p {
    color: var(--text-gray);
}

.side-block .announcement p {
    font-size: 0.7rem;
}

.side-block .block hr {
    margin: 8px 0;
}

.side-block .feed-social {
    display: grid;
    grid-auto-rows: 3rem;
    gap: 1.5rem;
}

.side-block .social {
    display: grid;
    grid-template-columns: 3rem auto;
    gap: 8px;
    align-items: center;
}

.side-block .social img {
    border-radius: 50%;
}

.side-block .social p {
    font-size: 0.9rem;
}

.handle {
    color: black;
    font-weight: bold;
}

/*-------------------*/
/* Measurement Grids */
/*                   */
/* Remove When Done  */
/*-------------------*/
/*
.sidebar > * {
    border: 1px solid black;
}

.sidebar > nav > * {
    border: 1px solid red;
}

.head-greeting > * {
    border: 1px solid blue;
}

header > * {
    border: 1px solid black;
}

main > * {
    border: 1px solid black;
}

main > aside > * {
    border: 1px solid red;
}

.gallery article > * {
    border: 1px solid blue;
}